<div class="book-card">
    <div class="book-cover">
        <img src="{{img_url feature_image}}" alt="{{title}}">
    </div>
    <div class="book-info">
        <span class="book-tagline">{{tagline}}</span>
        <h3>{{title}} <span class="book-year">({{year}})</span></h3>
        <p class="book-description">{{description}}</p>
        <p class="book-available"><strong>Disponibile in:</strong> {{available}}</p>
        {{#if videoUrl}}
            <a href="{{videoUrl}}" class="btn btn-primary">Video Presentazione</a>
        {{/if}}
    </div>
</div>
