<div class="video-card">
    <div class="video-embed">
        <iframe
            src="{{embedUrl}}"
            title="{{title}}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            loading="lazy">
        </iframe>
    </div>
    <div class="video-info">
        <h4>{{title}}</h4>
        {{#if source}}<span class="video-source">{{source}}</span>{{/if}}
        {{#if language}}<span class="video-lang">{{language}}</span>{{/if}}
    </div>
</div>
