{{!< default}}

<article class="post-content">
    <header class="post-header">
        <div class="container">
            {{#if primary_tag}}
                <span class="post-tag">{{primary_tag.name}}</span>
            {{/if}}
            <h1>{{title}}</h1>
            <div class="post-meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                {{#if reading_time}}
                    <span class="reading-time">{{reading_time}} min di lettura</span>
                {{/if}}
            </div>
        </div>
    </header>

    {{#if feature_image}}
        <figure class="post-feature-image">
            <img src="{{feature_image}}" alt="{{title}}">
        </figure>
    {{/if}}

    <div class="container">
        <div class="content-body">
            {{content}}
        </div>
    </div>
</article>
